.icon.major.accent1 {
  background: #bf211e;
}

.icon.major.accent2 {
  background: #0b032d;
}

.icon.major.accent3 {
  background: #bf2111;
}

.icon.major.accent4 {
  background: #0b032d;
}

#cta{
  background: #261703;
}

#header{
  background: #261703;
}